.next
.vscode
.storybook
storybook-static
out
dist
build
node_modules/
public/
.eslintignore
.eslintrc.json
.gitignore
.nvmrc
.prettierignore
.prettierrc.json
.stylelintrc.json
package-lock.json
package.json
README.md
tsconfig.json
*.min.js
